.p-C-about_wrapper{
    background-color: $white;

    .p-C-about_img_wrapper{
        position: relative;
        display: block;
        height: 387px;
        width: 85%;
        overflow: hidden;
        margin: $margin-large auto;  
            
        img{
            display: block;
            position: relative;
            width: 100%;
        }
    }

    .p-C-about_text{
        display: block;
        width: 90%;
        margin: $margin-medium auto;

        p{
            display: block;
            margin: $margin-small 0px;
            text-align: center;
            color: $darkgrey;
            letter-spacing: 1.3px;
        }
    }
    
    button{
        margin: $margin-large auto;
        display: block;
    }
}