.p-C-about_wrapper{
    background-color: $white;

    @media only screen and (min-width: $media-breakpoint-large) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .p-C-about_text{
        display: block;
        width: 90%;
        margin: $margin-medium auto;
        text-align: center;

        @media screen and (min-width: $media-breakpoint-large){
            text-align: left;
            display: inline-block;
            width: 50%;
        }

        p{
            display: block;
            margin: $margin-small 0px;
            color: $darkgrey;
            letter-spacing: 1.3px;

            @media screen and (min-width: $media-breakpoint-large) and (orientation: landscape){
                margin: $margin-medium 0px;
            }
        }
    }
    
    a{
        margin: $margin-large auto;
        display: block;
        text-decoration: none;

        @media screen and (min-width: $media-breakpoint-large) and (orientation: landscape){
            margin: $margin-large 0px;
        }
    }
}