.p-C-footer_wrapper{
    background-color: $vanilla;
    display: block;
    width: 100%;
    height: auto;
    padding: $padding-extralarge auto;
    border-top: 1px solid $teal;
    overflow: hidden;

    h5{
        display: block;
        text-align: center;
        margin: 10px 0px;
        color: $teal;
        font-weight: 400;
        text-transform: uppercase;
    }

    .p-C-footer_navLinks{
        display: flex;
        justify-content: space-around;
        width: 100%;

        a{
            color: $darkgrey;
            font-size: $font-size-extrasmall;
            text-decoration: none;

            &:hover{
                color: $teal;
                text-decoration: underline;
                text-decoration-color: $teal;
            }
        }
    }

    .p-C-footer_legal{
        height: fit-content;
        display: block;
        text-align: center;
        padding: $padding-extralarge auto;

        a{
            text-decoration: none;
            color: $darkgrey;

            &:hover{
                color: white;
                text-decoration: underline;
                text-decoration-color: white;
            }

        }

        p{
            display: block;
            margin: 0;
            color: darkgrey;
        }
    }
    
}

