.p-C-header{
    height: 4.4rem;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: $padding-medium 0px;
    background-color: $white;
    border-bottom: 0.5px solid $vanilla;

    @media screen and (min-width: $media-breakpoint-medium){
        height: 4.7rem;
    }
}

.p-C-logo_span{
    text-align: left;
    width: 20%;
    height: auto;
    margin-left: $margin-small;

    .p-C-logo_img{
        height: 3.1rem;
        width: auto;

        @media screen and (min-width: $media-breakpoint-small){
            height: 3.8rem;
            width: auto;
        }
    }
}

.p-C-navBar{
    width: 55%;
    height: auto;
    padding-top: $padding-large;

    @media screen and (min-width: $media-breakpoint-extrasmall){
        width: 50%;
    }

    @media screen and (min-width: $media-breakpoint-small){
        width: 48%;
    }

    @media screen and (min-width: $media-breakpoint-medium){
        width: 40%;
    }

    @media screen and (min-width: $media-breakpoint-large){
        width: 38%;
    }

    @media screen and (min-width: $media-breakpoint-extralarge){
        width: 30%;
    }
    span{
        display: inline-block;
        height: auto;
        width: auto;
        margin: 0px $margin-extrasmall;

        @media screen and (min-width: $media-breakpoint-small){
            padding: 0px $padding-medium;
        }

        @media screen and (min-width: $media-breakpoint-large){
            padding: 0px $padding-medium;
        }

        a{
            display: block;
            font-size: 12px;
            color: $teal;
            text-decoration: none;
            text-transform: uppercase;
            font-family: $font-family;
            font-weight: 500;
            margin-bottom: $margin-medium;

            @media screen and (min-width: $media-breakpoint-extrasmall){
                font-size: 15.5px;
            }

            @media screen and (min-width: $media-breakpoint-small){
                font-size: 15.5px;
            }

            @media screen and (min-width: $media-breakpoint-medium) and (orientation: landscape){
                font-size: 16.5px;
            }
        }

        &:hover{
            border-bottom: 2px solid $vanilla;
            animation: border-animation 1s linear;
        }
    }
}

@keyframes border-animation {
    from{
        color: transparent;
    }to{
        color: $teal;
    }
}
