.p-C-header{
    height: $header-height;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: $padding-medium 0px;
    background-color: $teal;
    border-bottom: 0.5px solid $vanilla;

}

.p-C-logo_span{
    text-align: right;
    width: 20%;
    height: auto;

    .p-C-logo_img{
        height: 3.5rem;
        width: 3.5rem;
    }
}

.p-C-navBar{
    width: 55%;
    height: 3rem;
    padding-top: $padding-large;

    span{
        display: inline-block;
        height: auto;
        width: auto;
        margin: 0px $margin-extrasmall;
        padding: $padding-small 0px;
        a{
            font-size: 13px;
            color: $vanilla;
            text-decoration: none;
            text-transform: uppercase;
            font-family: $font-family;
            font-weight: 500;

            &:hover{
                color: $white;
            }
        }

        &:hover{
            border-bottom: 1px solid $white;
        }
    }
}
