.p-C-hero_container{
    height: 70vh;
    width: 100%;
    display: block;
    background-color: transparent;

    .p-C-hero_introContainer{
        height: auto;
        width: 90%;
        display: block;
        margin: 50% 0px;
        padding-left: $margin-large; 

        h1{
            text-align: left;
            height: auto;
            color: $white;
            margin: $margin-medium 0px;
            white-space: pre-wrap;
        }

        h3{
            color: $white;
            font-weight: 350;
            margin: $margin-medium 0px;

            animation: fade-in 5s 0s;
        }

        h4{
            color: $vanilla;
            animation: fade-in 1s 0s;
        }
    

        a{
            text-decoration: none;
        }

        button{
            animation: fade-in 6.5s 0s;
        }

    }
}

@keyframes fade-in{
    0%{opacity: 0;}
    70%{opacity:0; }
    100%{opacity:1;}
}