.p-C-hero_container{
    height: 550px;
    width: 100%;
    display: block;
    position: relative;
    
    background-color: $teal;
    padding: $header-height 0px;

    @media screen and (min-width: $media-breakpoint-small){
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .p-C-hero_img_wrapper{
        position: relative;
        display: block;
        height: 150px;
        width: 150px;
        overflow: hidden;
        float: right;  
        margin-top: $header-height;
        margin-right: $margin-medium;
        z-index: 1;

        border-radius: 50%;
        box-shadow: 5px -5px 15px $overlay;

        @media screen and (min-width: $media-breakpoint-small){
            display: inline-block;
            float: none;
            margin: 20px auto;
        }

        @media screen and (min-width: $media-breakpoint-medium){
            width: 280px;
            height: 280px;
            border-radius: 50%;
            margin-left: $margin-extralarge;
        }
            
        img{
            display: block;
            position: relative;
            width: 100%;
        }
    }

    .p-C-hero_introContainer{
        height: auto;
        width: 90%;
        display: block;
        position: relative;
        z-index: 1;
        margin: auto;
        margin-top: 120px;
        text-shadow: 2px 2px 4px $overlay;

        @media screen and (min-width: $media-breakpoint-small){
            display: inline-block;
            width: auto;
            margin-top: 50px;
            margin-right: $margin-extralarge;
            //text-align: center;
        }

        @media screen and (min-width: $media-breakpoint-medium){
            width: 40%;
            flex-grow: 0;
        }

        @media screen and (min-width: $media-breakpoint-large){
            width: 30%;
        }

        h1{
            height: auto;
            color: $white;
            margin: $margin-small 0px;
            white-space: pre-wrap;
            text-transform: uppercase; 
               
        }

        h3{
            color: $white;
            font-weight: 350;
            margin: $margin-small 0px;

            animation: fade-in 5.5s 0s;
        }

        h4{
            display: block;
            color: $vanilla;
            animation: fade-in 1s 0s;
        }

        a{
            display: block;
            text-decoration: none;
            animation: fade-in 7s 0s;
            text-shadow: none;

            @media screen and (min-width: $media-breakpoint-medium){
                width: 65%;
                text-align: center;
                margin-top: $margin-medium;
            }
        }
    }
}

@keyframes fade-in{
    0%{opacity: 0;}
    70%{opacity:0; }
    100%{opacity:1;}
}