.p-C-projectCard_wrapper{
    display: block;
    height: auto;
    width: 95%;
    margin: $margin-large auto;
    text-align: center;

    @media screen and (min-width: $media-breakpoint-medium){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .p-C-projectCard_img_container{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        max-height: 40vh;
        margin: auto;
        padding: $padding-large;

        @media screen and (min-width: $media-breakpoint-medium){
            width: 35%;
        }

        img{
            max-height: 40vh;
            max-width: 70%;
            display: block;
        }

        span{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }

    .p-C-projectCard_info_container{
         width: 100%;

        @media screen and (min-width: $media-breakpoint-large){
            width: 60%;
            text-align: center;
            margin-top: $margin-extralarge;
        }

        h3{
            display: block;
            color: $teal;
            margin: $margin-medium 0px;
            font-weight: 600;
            font-family:'Courier New', Courier, monospace;

        }
    
        p{
            width: 90%;
            color: $darkgrey;
            margin: $padding-medium auto;
            text-align: left;
        }

        ul{
            list-style: none;

            li{
                display: inline-block;
                width: auto;
                margin: 1px 1px;
                padding: $padding-small $padding-large;

                border-radius: 20px;
                background-color: $teal;
                color: $white;
            }
        }
    
        span{
            display: block;
            margin: $margin-medium 0px;
    
            a{
                text-decoration: none;
                display: inline-block;
                margin: $margin-small $margin-small;
            }
    
            .disabled{
                pointer-events: none;
                cursor: not-allowed;
                background-color: $overlay;
                color: $white;
                border-color: $teal;
            }
        }    
    }
    
}