.p-C-projectCard_wrapper{
    display: block;
    height: auto;
    width: 90%;
    margin: $margin-small auto;
    text-align: center;

    @media screen and (min-width: $media-breakpoint-large){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .p-C-projectCard_img_container{
        display: block;
        width: 90%;
        margin: auto;

        @media screen and (min-width: $media-breakpoint-large){
            width: 35%;
        }

        img{
            width: 100%;
            display: block;
        }
    }

    .p-C-projectCard_info_container{
         width: 100%;

        @media screen and (min-width: $media-breakpoint-large){
            width: 60%;
            text-align: center;
            margin-top: $margin-extralarge;
        }

        h3{
            display: block;
            color: $teal;
            margin: $margin-large 0px;
            font-weight: 600;
            font-family:'Courier New', Courier, monospace;

        }
    
        p{
            color: $darkgrey;
            margin: $padding-medium 0rem;
        }
    
        span{
            display: block;
            margin: $margin-medium 0px;
    
            a{
                text-decoration: none;
                display: inline-block;
                margin: $margin-small $margin-small;
            }
    
            .disabled{
                pointer-events: none;
                cursor: not-allowed;
                background-color: $overlay;
                color: $black;
                border-color: $teal;
            }
        }    
    }
    
}