.display_inline-block{
    display: inline-block;
}

.display_block{
    display: block;
}

.display_none{
    display: none;
}

.overlay{
    background-color: $overlay;
    position: absolute;
    z-index: 0;
    height: inherit;
    width: 100%;
    top: $header-height;
    left: 0;
}

.p-C-background_teal{
    background-color: $teal;
}