//font variables
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-size-extralarge: 2.8rem;
$font-size-large: 2.5rem;
$font-size-medium: 1.7rem;
$font-size-small: 1.4rem;
$font-size-extrasmall: 1rem;

//line-height variables
$line-height-extralarge: 3.5rem;
$line-height-large: 2.8rem;
$line-height-medium: 2.1rem;
$line-height-small: 1.8rem;
$line-height-extrasmall: 1.3rem;

//padding variables
$padding-extralarge: 32px;
$padding-large: 16px;
$padding-medium: 8px;
$padding-small: 4px;
$padding-extrasmall: 2.5px;

//margin variables
$margin-extralarge: 40px;
$margin-large: 25px;
$margin-medium: 15px;
$margin-small: 9px;
$margin-extrasmall: 5px;
$margin-section: 4rem;

//media breakpoints
$media-breakpoint-extralarge: 1200px;
$media-breakpoint-large: 992px;
$media-breakpoint-medium: 768px;
$media-breakpoint-small: 600px;
$media-breakpoint-extrasmall: 460px;

h1{
    font-family: $font-family;
    font-size: $font-size-extralarge;
    line-height: $line-height-extralarge;
    font-weight: 600;


    @media only screen and (min-width: $media-breakpoint-small){
        font-size: 3.2rem;
        line-height: 3.8rem;
    }

    @media only screen and (min-width: $media-breakpoint-large){
        font-size: 3.2rem;
        line-height: 4rem;
    }
}

h2{
    font-family: $font-family;
    font-size: $font-size-large;
    line-height: $line-height-large;
    font-weight: 600;

    @media only screen and (min-width: $media-breakpoint-small) and (orientation: portrait){
        font-size: 3.6rem;
        line-height: 4rem;
    }

}

h3{
    font-family: $font-family;
    font-size: 2rem;
    line-height: 2.3rem;

    @media only screen and (min-width: $media-breakpoint-small) and (orientation: portrait){
        font-size: 2.4rem;
        line-height: 2.7rem;
    }

}

h4{
    font-family: $font-family;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;

    @media only screen and (min-width: $media-breakpoint-small) and (orientation: portrait){
        font-size: 1.9rem;
        line-height: 2.2rem;
    }


    @media screen and (min-width: $media-breakpoint-extralarge){
        margin-bottom: $margin-extralarge;
    }
}

h5{
    font-family: $font-family;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;

    @media only screen and (min-width: $media-breakpoint-small) and (orientation: portrait){
        font-size: 1.3rem;
        line-height: 1.6rem;
    }
}

p{
    font-family: $font-family;
    font-size: $font-size-extrasmall;
    line-height: $line-height-extrasmall;


    @media only screen and (min-width: $media-breakpoint-medium) and (orientation: portrait){
        font-size: $font-size-small;
        line-height: $line-height-medium;

    }

    @media only screen and (min-width: $media-breakpoint-medium) and (orientation: landscape){
        font-size: $font-size-extrasmall;
        line-height: $line-height-small;
    }

}

//header-height variable
$header-height: 4.4rem;

