$darkgrey: rgb(73, 71, 71);
$white: rgb(255,255,255);
$vanilla: rgb(244, 227, 178);
$black: #000000;
$indigo2: #4c467c;
$salmon: #F38375;
$indigo: #413c68;
$teal: rgb(6, 109, 109);
$overlay: rgba(0,0,0,0.10);