.p-L-section_wrapper{
    height: auto;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: $header-height 0px;

    .p-L-section_h3{
        height: auto;
        width: auto;
        padding: $padding-medium 0px;

        text-align: center;
        font-weight: 400;
        color: $teal;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 3px;
    }

    button{
            height: auto;
            width: auto;
            padding: $padding-medium $padding-large;

            font-size: $font-size-small;
            font-family: $font-family;
            font-weight: 300;
            background-color: $vanilla;
            color: $teal;

            border: 1px solid $vanilla;
            border-radius: 20px;

            transition: background-color 2s 1s;
            transition: color 1s 0s;
            transition: border 1s 0s;

            &:hover{
                color: $vanilla;
                background-color: transparent;
                border: 2px solid $vanilla;
            }
        }

}

.p-L-heading_border{
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, $teal, $white, $vanilla, $white, $teal);
    border-image-slice: 1;
    width: 70%;
    margin: $margin-large auto;
}